#credits{
    background: var(--color-text-title);
    width: 100%;
    font: 500 1.6rem Poppins;
}

#credits .credit-text{
    padding: 5px 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#credits a{
    text-decoration: none;
    color: var(--color-secondary);
}

body{
    justify-content: space-between;
}

#page-landing #container{
    margin-top: 12rem;
    margin-bottom: 12rem;
}

#page-study #container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#page-study main{
    width: 100%;
}